# Android Game Bot - 依赖说明
opencv-python-headless
numpy
pyyaml
rapidocr-onnxruntime

# pip install -i https://pypi.tuna.tsinghua.edu.cn/simple/ opencv-python-headless numpy pyyaml rapidocr-onnxruntime
